.app {
  text-align: center;
  background-color: #2a2d3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #729dfb;
  gap: 2em;
}

.title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 2em;
}

.balance {
  font-size: 1.8em;
}

.btn {
  background-color: #2ECC71;
  border-radius: 15px;
  padding: 15px 20px;
  border: 0;
  font-size: 1.5em;
  color: darkgreen;
}

input {
  text-align: center;
  width: 500px;
  font-size: 1.2em;
  border-radius: 5px;

}

sub {
  color: red;
}